<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/styles.css">
    <title>RockLog</title>
</head>
<body>
	<div class="header">RockLog</div>
	<div class="container">
		<h1>Track Your Climbing Progress</h1>
		<p>Log your climbs, track improvements, and challenge yourself with RockLog.</p>
		<a th:href="@{/login}" class="cta-button">Get started</a>
	</div>
	<div class="footer">&copy; 2025 RockLog. All rights reserved.</div>

</body>
</html>